#app {
    width: 393px;
    height: 852px;
    margin: 0 auto;
    background: url("images/splash-background.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.wrapper {
    background-color: transparent;
    margin: auto;
    width: 393px;
    position: absolute;
    top: 25%;
    justify-content: center;
    display: inline-flex;
}

.logo-link {
    z-index: 1;
    background-color: transparent;
}

p {
    display: grid;
    width: 261px;
    text-align: center;
    align-items: center;
}
button {
    background-color: #6E9233;
    border-radius: 16   ;
}